.container-div{
    height: 500px;
    width: 500px;
    background-color: white;
    display: grid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
    background-color: #DFC7FF;
    color: white;
    text-shadow:1px 1px 10px #BC2BFF, 1px 1px 10px #ccc;
}
#title {
    text-align: center;
    margin-top: 5%;
    font-size: 70px;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.main-div{
    display: flex;
    align-items: flex-start;
    margin: 0 10%;
}
.slidecontainer{
    flex: 1;
    padding: 0 5%;

}
.container-div{
    flex: 3;
    padding: 0 5%;
}

.options{
    flex: 1;
    padding: 0 5%;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #FFE6FD;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
#slider:hover {
    opacity: 1;
  }
#slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #0ece87;
    cursor: pointer;
  }
  




button{
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  margin: 10% auto;
}

button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}